{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>Description</th><th>Done</th><th></th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <input value="{{todo.id}}" type="checkbox" {{ todo.done|replace("0","unchecked")|replace("1","checked") }} >
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." 
                    form="submitNewTodo" oninvalid='this.setCustomValidity("Description cannot be empty!")' oninput='this.setCustomValidity("")' required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary" form="submitNewTodo">Add</button>
                </td>
        </tr>
    </table>
</div>


<script src="{{ url_for('static', filename='js/todo.js') }}"></script>
<!-- Moved the form out of <tr> element as not allowed -->

<form id="submitNewTodo" method="post" action="{{ url_for('todos_POST') }}"></form>
{% endblock %}
